@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Castoro+Titling&family=Cormorant+Garamond&family=Prompt&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  display: none;
}

:root {
  --gold: #ff8400;
  --white: #ffffff;
  --black: #000000;
  --light-transparent: rgba(255, 255, 255, 0.2);
  --dark-transparent: rgba(0, 0, 0, 0.2);
  --one-font: "Cormorant Garamond", serif;
  --two-font: "Prompt", sans-serif;
  --three-font: "Alkatra", cursive;
  --four-font: "Castoro Titling", cursive;
}

body {
  font-family: var(--one-font), var(--two-font);
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

a,
li,
button {
  all: unset;
}

a {
  cursor: pointer;
}

/* Loading screen settings */

.loading-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-icon {
  width: 55px;
  animation: turn 2.5s infinite linear;
}

@keyframes turn {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* contact button component */

.contact-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: var(--gold);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  padding: 5px 10px;
  color: var(--white);
  z-index: 900;
  font-size: 32px;
}

/* Navbar component */

nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 25px;
  background: var(--dark-transparent);
  backdrop-filter: blur(5px);
  z-index: 900;
}

nav .icon-container,
nav .nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 10px 0 0; */
}

nav .home-icon {
  width: 55px;
  padding: 10px 0;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

nav ul li {
  padding: 0 10px;
}

nav ul li button,
nav ul li a {
  font-size: 24px;
  color: var(--white);
  letter-spacing: 1.5px;
}

/* Home component */

#home {
  background: url("./assets/barbershop.png");
  background-size: cover;
  background-position: 50%;
}

#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

#home header {
  position: relative;
  z-index: 100;
  text-align: center;
  letter-spacing: 3px;
  font-family: var(--three-font);
}

#home header h1 {
  font-size: 8.5rem;
  color: var(--gold);
}

#home header .header-logo {
  width: 5rem;
}

#home header h2 {
  font-size: 3rem;
  color: var(--white);
}

/* services component */

#services {
  /* background: linear-gradient(90deg, #1a1200 10%, var(--gold) 50%, #1a1200); */
  background: var(--white);
  flex-direction: column;
  position: relative;
}

#services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

#services .service-header {
  position: relative;
  z-index: 100;
  text-align: center;
  letter-spacing: 3px;
  margin: 30vh 0;
}

#services .service-header h1 {
  color: var(--black);
  font-family: var(--four-font);
  font-size: 2.5rem;
  letter-spacing: 3.5px;
  white-space: nowrap;
}

#services .styles-container {
  width: 100%;
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
}

#services .styles-container .style-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 80vh;
}

#services .styles-container .left {
  flex-direction: row;
}

#services .styles-container .right {
  flex-direction: row-reverse;
}

#services .styles-container header {
  color: var(--black);
  font-size: 3.5rem;
  letter-spacing: 2.5px;
  width: 40%;
  text-align: center;
  font-family: var(--four-font);
}

#services .styles-container .img-container {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#services .styles-container .img-container img {
  width: 60%;
  height: auto;
}

/* steps component */

#steps {
  position: relative;
  flex-direction: column;
  min-height: 150vh;
  background: url("./assets/mobile-barber.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

#steps::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#steps .steps-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
}

#steps .steps-container .step {
  width: 40%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  backdrop-filter: blur(3.75px);
  box-shadow: 5px 5px 5px var(--black);
  margin: 0 3%;
  /* border: 1px solid var(--gold); */
  border-radius: 25px;
  text-align: center;
  letter-spacing: 1.2px;
  line-height: 2.5;
}

#steps .steps-container .step h2 {
  color: var(--gold);
  font-family: var(--three-font);
  font-size: 36px;
}

#steps .steps-container .step {
  color: var(--white);
  font-size: 22px;
}

#steps .steps-container .step img {
  width: auto;
  height: 100px;
}

#testimonials {
  /* background: linear-gradient(90deg, #1a1200 10%, var(--gold) 50%, #1a1200); */
  background: var(--white);
  flex-direction: column;
  position: relative;
  justify-content: space-evenly;
}

#testimonials::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

#testimonials .testimonials-header {
  position: relative;
  z-index: 100;
  text-align: center;
  letter-spacing: 3px;
  /* margin: 30vh 0; */
}

#testimonials .testimonials-header h1 {
  color: var(--black);
  font-family: var(--four-font);
  font-size: 2.5rem;
  letter-spacing: 3.5px;
  white-space: nowrap;
}

#testimonials .carousel-container {
  z-index: 100;
  width: 80%;
  border: 2px solid var(--gold);
  border-radius: 25px;
  position: relative;
  height: 400px; /* the same fixed height as .review-container */
  overflow: hidden;
  text-align: center;
  background: var(--black);
}

#testimonials .review-container {
  width: 100%;
  height: 400px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  overflow: auto;
}

#testimonials .review-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 15px 20px;
  color: var(--white);
}

#testimonials .review-text h2 {
  font-size: 2.5rem;
  color: var(--gold);
}

#testimonials .review-text q {
  font-size: 2rem;
}

#testimonials cite {
  font-size: 1.5rem;
  color: var(--gold);
}

.review-text q::before,
.review-text q::after {
  font-size: 42px;
  color: var(--gold);
  padding: 0 5px;
}

#testimonials .review-btn-container {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

#testimonials button img {
  width: 65px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 5px;
}

.flip {
  transform: scaleX(-1);
}

/* carousel transition animations */

.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

/* contact component */

#contact {
  background: var(--black);
  flex-direction: column;
  position: relative;
}

#contact header {
  position: relative;
  margin: 10vh 0;
  z-index: 100;
  text-align: center;
  letter-spacing: 3px;
  font-family: var(--three-font);
}

#contact header h1 {
  font-size: 8.5rem;
  color: var(--gold);
}

#contact header h2 {
  font-size: 3rem;
  color: var(--white);
}

#contact header h3 {
  font-size: 1.5rem;
  color: var(--white);
}

/* footer component */

.footer-component {
  width: 100%;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background: var(--white);
  text-align: center;
}

.footer-component::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.footer-component .footer-header {
  position: relative;
  z-index: 100;
  text-align: center;
  letter-spacing: 3px;
  width: 100%;
  z-index: 100;
  /* margin: 30vh 0; */
}

.footer-component .footer-header h4 {
  font-size: 4rem;
}

.footer-component .footer-header h4,
.footer-component .footer-btn-container button {
  margin: 20px 0;
}

.footer-component .footer-btn-container {
  width: 100%;
}

.footer-component .footer-btn-container button {
  background: var(--black);
  color: var(--gold);
  font-weight: bold;
  font-size: 2.5rem;
  padding: 10px 15px;
  border-radius: 5px;
}

.footer-component .social-media-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 100;
  padding: 0 20px;
}

.footer-component .social-media-container li a img {
  width: 45px;
  background: var(--gold);
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}
